.env
*.db
*.pyc
__pycache__/
.DS_Store
*.sqlite3
node_modules/
joshgrid/mail_api/static/
.vscode
.idea
assets/
**/*.db
**/*.sqlite
*.sqlite
*.db
.coverage
dist/
npm-debug.log
celerybeat.pid
dump.rdb
yarn-error.log
__pycache__/
.cache
migrations/
alchemydumps/
